__pycache__
.aider*
.env
.ipynb_checkpoints
.jupyter
.mypy_cache
.pytest_cache
.ruff_cache
.venv
*.app
*.egg-info
/app/SamplePhotoEditingExtension
/examples
/research
build
dist
notebooks_wolfram
tests/*.png
